.wy-nav-content, .wy-body-for-nav, .wy-nav-content-wrap {
    background: #fcfcfc
}

.wy-side-nav-search {
    background-color: #606a69;
}

.caption-text {
    color: #606a69;
}

details {
    border-radius: 10px;
}

summary {
    font-weight: 700;
    cursor: pointer;
}